:root {
  --MidnightGreen-color: #014e56;
  --Light-color: #f67e7e;
  --white-color: #fff;
  --RaptureBlue-color: #79c8c9;
  --Policeblue-color: #2c6269;
  --DeepJungleGreen-color: #004047;
  --stategreen-color: #012f34;
  --darkgreen-color: #002529;
  --main-font: "Livvic", sans-serif;
}
